.service {
  background-image: url("../components//Images/servicebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .services-content {} */

.service-content-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 100px 40px;
}

.right-side1 {
  width: 60%;
}

.right-side1 h1 {
  padding-left: 40px;
}

.right-side1 h3 {
  padding: 40px;
  text-align: left;
}

.service-content_paragraph {
  line-height: 30px;
}

@media screen and (max-width: 414px) {
  .service-content-wrapper {
    display: grid;
    justify-content: space-between;
    padding: 100px 40px 50px;
  }

  .right-side1 {
    width: 100%;
  }

  ol {
    padding-right: .4rem;
  }
}